<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="at.fhooe.mc.android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <receiver
            android:name=".NotificationDismissed"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".ActivityRepeatTask"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />

        <receiver
            android:name=".NotificationAlarm"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".TaskDue"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".ActivityList"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".ActivityDeadlineTask"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>